.App {
  text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-column-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  5em 1fr 1fr ;
    grid-template-areas: 
        "header header header"
        "insertion bubble quick"
        "selection merge radix";
}

.header {
    grid-area: header;
    margin-bottom: 10px;
}

.bubble {
  grid-area: bubble;
}
.quick {
  grid-area: quick;
}
.insertion {
  grid-area: insertion;
}
.selection {
  grid-area: selection;
}
.merge {
  grid-area: merge;
}
.radix {
  grid-area: radix;
}
#title {
  margin-right: 25%;
  margin-left: 5%;
}

#headerButton {
  margin-left: 1em;
  margin-right: 1em;
}




